footer
  .container.text-center
    p.pull-left © 2015 Rabbit, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://rabbit.io') GitHub Project
      li
        a(href='https://rabbit.io') Issues